/* Cascading stylesheet for the website */

/* Text inside these asterisks and slashes are comments for human */
html{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  color:#eee;
}

  a {
    color:black;/* set the text color to blue here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  a:hover {
    color: red;/* set the text color to red here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  body {
    background:  bisque;
    background-size: cover;
    color:black;/* set the text color to black here */
    font-family: Arial, Helvetica, sans-serif;/* set the font here */
    text-align: center;/* set the text alignment here */
   }

  footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2rem;
    margin-bottom:-0rem;
    margin-top: 2rem;
    background: red;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
   }

  h2 {
    color: blue;/* set the text color of to #075AAB here */
    /* set both the bottom margin and top margin to 2.5rem here */
    margin-bottom:1rem;
    margin-top: 1rem;
   }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top: 1 rem;
  }

  h4 {
    font-size: 1.0rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  h5 {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  
  }
h6{
  font-size: 1.4rem;
  color: brown;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
 
  hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  /* this controls how the bullet points in the resume page looks */
  ul {
    display: table;
    margin: 0 auto;
    text-align: left;
  }
.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}